---
import BaseLayout from '@layouts/BaseLayout.astro';
import '@styles/global.css';

const pageTitle = "About Me :)";

interface Identity{
	firstName: string;
	city: string;
  occupation: string;
  hobbies: string[];
}
const identity: Identity = {
	firstName: "Lulu",
	city: "Ottawa",
	occupation: "Frontend Developer",
	hobbies: ["Cook", "Hike"]
};

const skills: string[] = ["HTML", "CSS", "JavaScript", "React", "Astro"];


const happy: boolean = true;
const finished: boolean = true;
const goal: number = 2;
---


<BaseLayout pageTitle={pageTitle}>
	<h2>This is my first Astro Site</h2>
	<p>Here are a few facts about me:</p>
	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.city} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
	</ul>
	<p>My skills are:</p>
	<ul class="flex gap-4">
		{skills.map((skill) => <li class="list-none bg-green-200 rounded px-4 py-2 uppercase text-sm">{skill}</li>)}
	</ul>

	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{goal === 2 ? <p>My goal is to finish in 2 days.</p> : <p>My goal is not 2 days.</p>}
</BaseLayout>